<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cy.pj.sys.dao.SysMenuDao">
    <!--cache表示本命名空间使用二级缓存-->
    <!--readOnly表示结果是否只读-->
    <cache readOnly="false"/>
    <select id="findObjects" resultType="map">
--           方案1(左外查询)
--           select c.*,p.name parentName
--           from sys_menus c left join sys_menus p
--           on c.parentId=p.id
--           方案2(嵌套查询)
         select c.*,(select p.name from sys_menus p where c.parentId=p.id) parentName from sys_menus c
    </select>
    <insert id="insertObject" parameterType="com.cy.pj.sys.entity.SysMenu">
       insert into sys_menus
          (name,url,type,sort,note,parentId,permission,
createdTime,modifiedTime,createdUser,modifiedUser)
          values
          (#{name},#{url},#{type},#{sort},#{note},#{parentId},
#{permission},now(),now(),#{createdUser},#{modifiedUser})
    </insert>
    <update id="updateObject" parameterType="com.cy.pj.sys.entity.SysMenu">
        update sys_menus
         set
           name=#{name},
           type=#{type},
           sort=#{sort},
           url=#{url},
           parentId=#{parentId},
           permission=#{permission},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
        where id=#{id}
    </update>
    <!--基于菜单id查询菜单标识-->
    <select id="findPermissions"
            resultType="string">
        select permission <!-- sys:user:update -->
        from sys_menus
        where
        <foreach collection="menuIds"
                 separator="or"
                 item="menuId">
            id =#{menuId}
        </foreach>
    </select>
    <resultMap type="com.cy.pj.sys.vo.SysUserMenuVo"
               id="sysUserMenuVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <collection property="childMenus"
                    ofType="com.cy.pj.sys.vo.SysUserMenuVo">
            <id property="id" column="cid"/>
            <result property="name" column="cname"/>
            <result property="url" column="curl"/>
        </collection>
    </resultMap>
    <!-- <select id="findChildMenusById"
             resultType="com.cy.pj.sys.vo.SysUserMenuVo">
            select id,name,url
            from sys_menus
            where parentId=#{id} and type=1
     </select>-->
    <!--基于菜单id查找一级菜单并且其类型为菜单-->
    <select id="findMenusByIds"
            resultMap="sysUserMenuVo">
        select p.id,p.name,p.url,c.id cid,c.name cname,c.url curl
        from sys_menus p join sys_menus c
        on c.parentId=p.id
        <where>
            <foreach collection="menuIds"
                     open="("
                     close=")"
                     separator="or"
                     item="menuId">
                c.id=#{menuId}
            </foreach>
            and p.parentId is null
        </where>
    </select>
</mapper>